<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <h2 class="fancyheading" style="max-width: 500px; margin: 60px auto 0px auto;">Ask <span class="highlight">Player2</span>: "<span class="highlight question">Who was your first crush?</span>"</h2>
        </div>
    </div>
</div>
