<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <h2 class="fancyheading" style="max-width: 500px; margin: 60px auto 0px auto;">Ask <span class="highlight">{{receiver}}</span>: "<span class="highlight question">{{thequestion}}</span>"</h2>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <div class="clock">
               <span class="short-hand"></span>
               <span class="long-hand"></span>
               <span class="nut"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <h3 class="fancyheading">Take this opportunity to learn more about <span class="highlight">{{receiver}}</span>.</h3>
            <button type="button" class="fancy" id="notify-satisfied">I'm satisfied!</button>
        </div>
    </div>

</div>
