<div class="list-group">
    <div class='container'>
        <h1 class='whiteLabels'>Choose Receiver</h1>
        <div class="col-2"></div>
        {{#each people}}
            <button type="button" class="list-group-item list-group-item-action userButton">{{this.name}}</button>
        {{/each}}
        <div class="col-2"></div>
    </div>
</div>