<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
      <h2 class="fancyheading">Whom will you ask "<span class="highlight question" id="askedQuestion">{{question}}</span>"?</h2>
      <ul id="receiver-choice-list" class="player-list">
          {{#each people}}
              <li class="player-button">{{this.player_name}}</li>
          {{/each}}
      </ul>
    </div>
  </div>
</div>
