<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <h1 class="fancyheading">What is your name?</h1>
            <h3 class="fancyheading">The first step to knowing someone is knowing their name.</h3>

            <input type="text" class="question-input realname" id="realname" placeholder="Write your name here">
        </div>
    </div>
    <button type="button" class="fancy">This is me!</button>
</div>
