<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Bluetato</h1>
            <hr>
            <p>Create a room and send a link to your friends</p>
            <a href="/" class="btn btn-primary btn-xl page-scroll" style="margin-top: 5px">Create Room</a>
            <a href="/" class="btn btn-primary btn-xl page-scroll" style="margin-top: 5px">Join existing Room</a>
        </div>
    </div>
</header>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hack the South 2019</h2>
                <hr class="primary">
                <p>project made for Saturday/Sunday</p>
            </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-github fa-4x"></i>
                <p><a href="mailto:your-email@your-domain.com">https://github.com/HackTheSouth2019</a></p>
            </div>
        </div>
    </div>
</div>
</section>
