<div class="container-fluid boatbg">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto" style="text-align: center;">
            <h1 class="display-title">Bluetato</h1><br>
            <h2 class="display-subtitle" style="margin-bottom: 0px;">We were planning to use bluetooth.</h2><br>
            <h2 class="display-subtitle" style="margin-top: 0px;">We compromised and we made the website blue!</h2>
        </div>
    </div>

    <button id="create-room" type="button" class="fancy">Greate room</button>
</div>
