<div class="container-fluid boatbg">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto" style="text-align: center;">
            <h1 class="display-title">Bluetato</h1><br>
            <h2 class="display-subtitle" style="margin-bottom: 0px;">We were planning to use bluetooth.</h2><br>
            <h2 class="display-subtitle" style="margin-top: 0px;">We compromised and we made the website blue!</h2>
        </div>
    </div>

    <button id="create-room" type="button" class="fancy">Create room</button>

    <div class="row justify-content-lg-center hidden" id="link-present">
        <div class="col-lg-auto" style="text-align: center;">
            <h2 class="display-subtitle" style="margin-bottom: 0px;">Room succesfully created. Hers your code:</h2><br>
            <h2 class="display-subtitle" style="margin-top: 0px;"><a href="#" id="link-display">Your code</a></h2>
        </div>
    </div>

    <div class="row justify-content-lg-center">
        <div class="col-lg-auto" style="text-align: center;">
            <input id="code-input" type="text" class="question-input realname" placeholder="Room code" style="margin-bottom: 4px;">
            <button id="join-room" type="button" class="fancy" style="margin-top: 4px;">Join room</button>
        </div>
    </div>
</div>
