<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <h2 class="fancyheading" style="max-width: 500px; margin: 60px auto 0px auto;">It's time for some indiscretion. <br>The ice is breaking. <br><span class="highlight question">Answer the question.</span><br> The timer is shaking.</h2>

            <img class="frost" src="img/icey.png"/>
        </div>
    </div>
</div>
