<div class="container-fluid boatbg">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto" style="text-align: center;">
            <h1 class="fancyheading">Room succesfully created</h1>
            <h2 class="display-subtitle" style="margin-bottom: 0px;">Share the following link with your friends:</h2><br>
            <h2 class="display-subtitle" style="margin-top: 0px; text-decoration: underline;"><a href="https://www.w3schools.com/css/css_form.asp">https://www.w3schools.com/css/css_form.asp</a></h2>
        </div>
    </div>

    <button id="create-room" type="button" class="fancy">Proceed to room</button>
</div>
