<div class="jumbotron">
    <h1 class="display-4" >Asker is: {{asker}}</h1>
    <h2 class="display-6">Please wait for his question...</h2>
</div>

<div>
    <div class="col-2"></div>
        <div class="col-8">
            <i class= "fa fa-question-circle fa-10x" style="font-size: 20em;"></i>
        </div>
    <div class="col-2"></div>
</div>