<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <h2 class="fancyheading" style="max-width: 500px; margin: 60px auto 0px auto;"><span class="highlight">Player1</span> is asking <span class="highlight">Player2</span> a question.
        </div>
    </div>
</div>
