<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <h1 class="fancyheading">It'll only be a moment.</h1>
            <h3 class="fancyheading">The others are thinking up questions.</h3>

            <ul class="player-list">
            {{#each users}}
                <li class="player-display">{{this.name}} is <span class="highlight">{{this.displayStatus}}</span>.</li>
            {{/each}}
            </ul>
        </div>
    </div>
    <div class="medium-info">
        <span class="highlight">3/5</span> people have joined
    </div>
</div>



{{!-- <div class="limiter">
    <div>
        <div class="container-table100">
            <div class="wrap-table100">
                    <div class="table">

                        <div class="row header">
                            <div class="cell">
                                Full Name
                            </div>
                            <div class="cell">
                                Questions
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Vincent Williamson
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Joseph Smith
                            </div>
                            <div class="cell" data-title="Questions">
                                Not Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Justin Black
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Sean Guzman
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Keith Carter
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Austin Medina
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Vincent Williamson
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Joseph Smith
                            </div>
                            <div class="cell" data-title="Location">
                                Ready
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>
 --}}
