<h1>Waiting room</h1>


 {{!-- <div class="row"> --}}
     {{!-- <div class="col-2"></div> --}}
            {{!-- <div class="col-8"> --}}
                <table>
                    <tr>
                        <th><label>User Name</label></th>
                        <th><label>User Status</label></th>
                    </tr>
                    {{#each users}}
                        <tr>
                            <td><label>{{this.name}}</label></td>
                            <td><label>{{this.status}}</label></td>
                        </tr>
                    {{/each}}
                </table>
               
    {{!-- </div> --}}
    {{!-- <div class="col-2"></div> --}}
{{!-- </div> --}}


{{!-- <div class="limiter">
    <div>
        <div class="container-table100">
            <div class="wrap-table100">
                    <div class="table">

                        <div class="row header">
                            <div class="cell">
                                Full Name
                            </div>
                            <div class="cell">
                                Questions
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Vincent Williamson
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Joseph Smith
                            </div>
                            <div class="cell" data-title="Questions">
                                Not Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Justin Black
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Sean Guzman
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Keith Carter
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Austin Medina
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Vincent Williamson
                            </div>
                            <div class="cell" data-title="Questions">
                                Ready
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell" data-title="Full Name">
                                Joseph Smith
                            </div>
                            <div class="cell" data-title="Location">
                                Ready
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>
 --}}
