<h1>Waiting room</h1>

<table class="list-group">
    <tr class="list-group-item list-group-item-primary">
        <th colspan="2"><label>User Name</label></th>
        <th colspan="2"><label>User Status</label></th>
    </tr>
    {{#each users}}
        <tr class="list-group-item list-group-item-light">
            <td colspan="2"><label>{{this.name}}</label></td>
            <td colspan="2"><label>{{this.status}}</label></td>
        </tr>
    {{/each}}
</table>


 