<h1>Waiting room</h1>

<table>
    <tr>
        <th><label>User Name</label></th>
        <th><label>User Status</label></th>
    </tr>
    {{#each users}}
        <tr>
            <td><label>{{this.name}}</label></td>
            <td><label>{{this.status}}</label></td>
        </tr>
    {{/each}}
</table>


 