body {
  background: #084c61;
}


h1.fancyheading {
  color: #e3b505;
  font-size: 3.4em;
  font-family: 'Playfair Display', serif;
}


h3.fancyheading {
  color: #4f6d7a;
  font-style: italic;
  font-size: 1.8em;
  font-family: 'Playfair Display', serif;
}


li.player-display {
  color: #96a3bc;
  margin: 10px 0px 10px 0px;
  height: 60px;
  border-radius: 5px;
  line-height: 60px;
  text-align: center;
  background: #09627c;
  font-weight: bold;
  width: 100%;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
}


span.highlight {
  color: #db504a;
  text-decoration: underline;
}


ul.player-list {
  list-style-type: none;
  padding: 0px;
  margin: 15px;
}

.medium-info {
  text-align: center;
  color: #4f6d7a;
  font-size: 1.6em;
}


